@charset "UTF-8";

/* リセット */
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Rounded Mplus 1c";
}
a {
  color: #fff;
}
/* 折りたたみコンテンツ用　ここから */
.head {
  font-weight: bold;
  cursor: pointer;
}
.row{
  display: none;
}
.head span {
  text-decoration: none;
}
.head span::after {
  font-size: 0.8em;
  content: " ▼";
}
.head span.open::after {
  font-size: 0.8em;
  content: " ▲";
}
b.head span {
  font-size: 1em;
  margin-left: 20px;
  margin-bottom: 5px;
  display: block;
  font-weight: normal;
}
p.row{
  margin-bottom: 10px;
}

/* 折りたたみコンテンツ用　ここまで */

.all {
  padding:  1% 8%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* ヘッダー　ここから */
header {
  background-color: #0066ff;
  color: #fff;
  max-width: 380px;
  padding: 10px;
  border-top-left-radius: 8px 8px;
  border-top-right-radius: 8px 8px;
  border-bottom-right-radius: 8px 8px;
  border-bottom-left-radius: 8px 8px;
  box-sizing: border-box;
  float: left;
  margin-right: 16px;
}
header h1 {
  background-image: url("img/top-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 150px;
  display: block;
  margin-bottom: 45px;
  margin-top: 10px;
}
header h1 p {
  position: relative;
  top: 158px;
  font-size: 0.5em;
  text-align: center;
}

header .line {
  width: 100%;
  height: 15px;
  background-color: #fff;
  color: #eee;
  font-size: 0.01em;
  text-align: center;
  margin-bottom: 20px;
  border-top-left-radius: 8px 8px;
  border-top-right-radius: 8px 8px;
  border-bottom-right-radius: 8px 8px;
  border-bottom-left-radius: 8px 8px;
}
header .line2 {
  width: 100%;
  height: 15px;
  background-color: #fff;
  color: #eee;
  font-size: 0.01em;
  text-align: center;
  margin-top: 20px;
  border-top-left-radius: 8px 8px;
  border-top-right-radius: 8px 8px;
  border-bottom-right-radius: 8px 8px;
  border-bottom-left-radius: 8px 8px;
}
header .line div,header .line2 div {
  transform: scale(0.5);
  width: 130%;
}

header .sns-button {
  text-align: center;
}
header .sns-button img {
  width: 10%;
  margin: 5px 2%;
}

header .h-contents {
  padding: 5px;
  font-size: 1em;
}
header .h-contents h2 {
  font-size: 1.2em;
  margin: 20px 0 3px 0;
  /* text-align: center; */
}
header .h-contents h3 {
  font-size: 1em;
  margin: 10px 0 5px 10px ;
}
header p {
  padding: 0 0 0 13px;
}
header .profile {
  background-image: url("img/profile.png");
  background-position: 100% 68%;
  background-size: contain;
  background-repeat: no-repeat;
}
header .concept {
  background-color: rgba(00, 102, 255, 0.8);
}

header .machine {
  background-image: url("img/machine.jpg");
  background-position: 95% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

header .h-contents table,header .h-contents th,header .h-contents td {
  margin: 0 15px;
  border: solid 1px #0100ff;
  border-collapse: collapse;
  padding: 5px;
  font-size: 0.98em;
}
header .h-contents th {
  word-break: keep-all;
}
header .coconala {
  width: 90%;
  margin: 0 auto;
}

/* 最新公開曲　ここから */
.newsong,.newsong .listlink {
  display: none;
}
.newsong ul {
  margin: 0;
  text-align: left;
}
.newsong li {
  color: #0066ff;
  list-style: none;
  background-color: #fff;
  border-top-left-radius: 8px 8px;
  border-top-right-radius: 8px 8px;
  border-bottom-right-radius: 8px 8px;
  border-bottom-left-radius: 8px 8px;
  box-sizing: border-box;
  padding: 5px;
}
.newsong li img {
  width: 30%;
  float: right;
  margin-left: 5px;
  min-width: 100px;
  border-top-left-radius: 8px 8px;
  border-top-right-radius: 8px 8px;
  border-bottom-right-radius: 8px 8px;
  border-bottom-left-radius: 8px 8px;
}
.newsong li p {
  padding: 5px 0 0 10px;
}
.newsong li a {
  font-size: 0.8em;
	text-align: center;
	display: inline-block;
	width: 50%;
	padding: 5px 0 0 10px;
	background-color: #0066ff;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	border-top-left-radius: 30px 30px;
  border-top-right-radius: 30px 30px;
  border-bottom-right-radius: 30px 30px;
  border-bottom-left-radius: 30px 30px;
  margin: 5px 0 5px 20px;
}
.newsong li audio {
  width: 100%;
}
.newsong a.listlink {
  color: #fff;
  text-align: right;
  display: inline-block;
  width: 100%;
  margin-top: 5px;
}
/* 最新公開曲　ここまで */

header .license {
  font-size: 0.98em;
}



header .privacypolicy {
  font-size: 0.8em;
  background-color: #ffffff21;
  padding: 8px;
}
/* ヘッダー　ここまで */


/* メイン　ここから */
main {
  float: left;
  width: calc(100% - 396px);
}
main .musics {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
}
main .musics h2 {
  display: none;
}
main .musics article {
  float: left;
  overflow: auto;
  height: auto;
  box-sizing: border-box;
  padding: 8px;

}
/* グリット */
main .musics {
  display: grid;
  grid-template-columns:  repeat( auto-fit, minmax(210px, 1fr) );
  grid-gap: 10px;
}
main .musics article div {
  position: relative;
}
main .musics article img {
  width: 100%;
  border-top-left-radius: 8px 8px;
  border-top-right-radius: 8px 8px;
  border-bottom-right-radius: 8px 8px;
  border-bottom-left-radius: 8px 8px;
}
main .musics article audio {
  width: 100%;
}
main .musics article .audio {
  width: 100%;
  bottom: 7px;
}
main .musics article h4 {
  box-sizing: border-box;
  position: absolute;
  bottom: 43px;
  left: 0;
  text-align: center;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  color:#fff;
  margin: 0;
  padding: 5px;
  font-size: 0.9em;
}
main .musics article .mask {
  opacity: 0;
  display: block;
  position: absolute;
  bottom: 75px;
  left: 0;
  text-align: center;
  width: 100%;
  background-color: rgba(255,255,255,0.8);
  padding-bottom: 15px;
  /* color: #fff; */
  -webkit-transition:	all 0.5s ease;
	transition:		all 0.5s ease;
  border-top-left-radius: 8px 8px;
  border-top-right-radius: 8px 8px;
}
main .musics article .mask p {
  font-size: 0.8em;
  padding: 5px;
  margin-bottom: 10px;
}
.music:hover .mask {
  opacity: 1;
  padding-bottom: 30px;
}
main .musics article span a {
  font-size: 0.8em;
	text-align: center;
	display: inline-block;
	width: 80%;
	padding: 5px 0;
	background-color: #0166ff;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	border-top-left-radius: 30px 30px;
  border-top-right-radius: 30px 30px;
  border-bottom-right-radius: 30px 30px;
  border-bottom-left-radius: 30px 30px;
}
main .musics article .type {
  /* background-color: #0000007d; */
  position: absolute;
  top: 0;
  right: 0;
  border-top: 50px solid #0000007d;
  border-right: 50px solid #0000007d;
  border-bottom: 50px solid transparent;
  border-left: 50px solid transparent;
}
main .musics article .type div {
  position: absolute;
  transform: rotate(45deg);
  top:-2.5vw;
  right: -5vw;
  width: 7vw;
  font-size: 1.5vw;
  color: #fff;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.1em;
}
/* メイン　ここまで */


/* フッター　ここから */
footer {
  clear: both;
  background-color: #0066ff;
  color: #fff;
  width: 100%;
  margin-top: 30px;
}
footer p {
  text-align: center;
}
/* フッター　ここまで */





/* レスポンシブ　スマホ用　ここから*/
@media screen and (max-width: 667px) {
  .all {
    padding: 1% 20px;
  }
  header,main {
    float: none;
  }
  header {
    margin-right: 0;
    margin-bottom: 16px;
    max-width: 100%;
  }
  header .newsong,.newsong .listlink {
    display: block;
  }
  header #new_songs {
    font-size: 0.9em;
  }
  header .newsong a {
    display: none;
  }
  header .twitter {
    display: none;
  }
  header .googleads {
    display: none;
  }
  main {
    width: 100%;
  }
  main .musics {
    float: none;
    width: 100%;
    padding: 0;
  }
  main .musics article {
    width: 100%;
    margin: 0 auto;
    max-width: none;
    background-color: #fff;
    border: 1px solid #0066ff;
    margin-bottom:5px;
    color: #333;
    font-size: 1.2em;
    border-top-left-radius: 8px 8px;
    border-top-right-radius: 8px 8px;
    border-bottom-right-radius: 8px 8px;
    border-bottom-left-radius: 8px 8px;
  }

  main .musics article h4 {
    width: auto;
    position: static;
    display: inline-block;
    background-color: unset;
    text-align: none;
    color: #333;
  }
  main .musics article .mask {
    opacity: 1;
    background-color: unset;
    width: 100%;
    position: static;
    text-align: left;
    display: inline;

  }
  main .music:hover .mask {
    padding-bottom: 0;
  }
  main .musics article img {
    width: 30%;
    float: right;
    margin-left: 10px;
  }
  main .musics article span a {
    display: none;
  }
  main .musics article .audio {
    bottom: 0;
  }
  main .musics article audio {
    width: 100%;
    position: static;
  }
  main .musics article .type {
    display: none;
  }
}
